.container {
    width: 1000px;
    margin: 0 auto;
}
.satu,
.dua {
    border: solid;
    width: 200px;
    height: 200px;
    margin-top: 50px;
}

.satu {
    background-color: #39b54a;
    border-image-source: url(/Lanjutan/Style/hearts.png);
    border-image-repeat: round;
    border-image-width: 20px;
    border-image-slice: 20 22;
    border-image-outset: 20px;
    box-shadow: 30px 30px;
}
.dua {
    background-color: blue;
    border-image-source: url(/Lanjutan/Style/border1.png);
    border-image-repeat: round;
    border-image-width: 30px;
    border-image-slice: 33%;
    border-image-outset: 15px;
    box-shadow: 5px 5px 10px;
}